@CHARSET "ISO-8859-1";

body {
	font-family: Consolas;
	font-size: 18px;
}

.ctable-header,.ctable {
	font-size: 20px;
	border-collapse: collapse;
}

.ctable-header,.ctable-header th,.ctable-header td {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.ctable-header td,.ctable td {
	padding: 10px;
}

.ctable tr:nth-child(odd) {
	background: #C8DCFF;
}